*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
    font-family: maagkramp, Arial, Helvetica, sans-serif;
}


body{
    background-color: black;
}

.main-header{
    max-height: 100px;
    margin-left: 30;
    margin-right: 40;
    display: flex;
    justify-content: flex-start
  
} 

.logo {
    width: 180px;
    cursor: pointer;
    margin: 8px 0;
    
}


nav{
    display:flex;
    flex:auto;
    align-content: flex-end;
    justify-content:right;
    background-color: black;
}

nav a{
    list-style: none;
    display: inline-block;
    color:white;
    padding: 14px 20px;
    margin-right: 10px;
    text-align:right;
}

nav a:hover{
    color:yellow
}
/* About */

.main-section{
    background-color: black;
    padding: 60px 60px;
    color: white;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;

}

.main-content{
    display: flex;
     flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: auto;
}


.main-content h1{
    font-size: 90px;
    paddin
    color: white;
    -webkit-text-fill-color: turquoise;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

.main-content h2{
    color:white;
    text-shadow:1px 1px turquoise ;
    font-size:16px;
    font-weight: 10;
    line-height: 2;
}
    
.main-content p{
    font-size: 16px;
    line height: 2;
}


.main-image{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
}

/* Media screen for about me section*/

 @media screen and (max-width:1--px){
    .main-section{
        padding:30px;
    }

    .main-container{
       grid-template-columns: 1fr;
    }

    .main-content h1{
        font-size: 80px;
        
    }

 }

 @media screen and (max-width:768px){
    .main-container{ 
        grid-template-rows: 600px;
    }
    .main-content h1{
        font-size: 30px; 
    }
 }
    
 /* Work section*/


.work {
    background-color:black ;
    color: white;
    position: relative;
}

.work-container{
    display: flex;
    background: black;
    padding-left: 10px ;

}

.work-grid{
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
}

.work-container h1{
    font size: 50px;
}

 .work-content {
    align-content: space-around;
    border-width: 1px;
    width: 10%;
    
   
  }

  .work-content img{
    width: 300%;
    padding-bottom: 10px;
  }



/* contact me form */

.contact-section{
    background: url(bg.png) no-repeat center;
    background-size: cover;
    padding:40px 0;
}

.contact-section h4{
    text-align: center;
    color:#ddd;

}

.border{
    width: 100px;
    height:100px;
    background: ;
    margin: 40px auto;

}

.contact-form{
    max-width: 400px;
    margin:auto;
    padding:0 10px;
    overflow:hidden;
}

.contact-form-text{
    display:block;
    width:100%;
}





















/* footer */
footer {
    background: black;
    padding: 15px 0;
    text-align: center;
  }
  footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  footer a:first-child {
    border-left: 1px solid #70726F;
  }
  footer a:hover {
    color: white;
  }