*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

.main-header{
    max-width: 1200px;
    max-height: 96px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.logo {
    width: 180px;
    cursor: pointer;
    margin: 8px 0;
}


nav{
    display:flex;
    flex:1;
    justify-content: center;
    background-color:#5271fe ;
    
}

nav a{
    list-style: none;
    display: inline-block;
    color:white;
    padding: 14px 20px;
    margin-right: 30px;
    text-align:center;
}

nav a:hover{
    color:yellow
}