*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
    font-family: maagkramp, Arial, Helvetica, sans-serif;
}


body{
    background-color: #e10098;
}

.main-header{
    max-width: 1200px;
    max-height: 96px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.logo {
    width: 180px;
    cursor: pointer;
    margin: 8px 0;
}


nav{
    display:flex;
    flex:1;
    justify-content:right;
    background-color: #e10098;
}

nav a{
    list-style: none;
    display: inline-block;
    color:white;
    padding: 14px 20px;
    margin-right: 10px;
    text-align:right;
}

nav a:hover{
    color:yellow
}

h1{

}

h2{
color:white;

}

.hero-section{
    
}